    print ('Run step STOP CLUSTER')
    if was_app['was_type'] == 'CLUSTER':
        for cluster in was_app['clu_name']:
            cell,cellName, servers=getClusterServersCell(cluster)
            count_servers = len(servers)
            print('Found servers: %s' % servers)
            print('Found count_servers: %s' % count_servers)
            stopped_servers = 0
            timeoutSecs = 0
            stopCluster(cluster)
            for serverID in servers:
                serverName, nodeName, aServer =getClusterServerObj(serverID, cellName)
                print('Work on aServer: %s' % aServer)
                if (aServer != ""):
                    aState=AdminControl.getAttribute(aServer, 'state')
                    pid   = AdminControl.getAttribute(aServer, 'pid')
                    print "Server", serverName, "is in a", aState, "state\n"
                    print "Server pid is ", pid, "\n"
                else:
                    aState="STOPPED"
                    print "Server", serverName, "is in a", aState, "state\n"
                    stopped_servers = stopped_servers + 1
            if count_servers != stopped_servers:
                if timeoutSecs < 240:  # up to 4 minutes, sleep 30 seconds each cycle.
                    sleepTimeSecs = 30
                    numSleeps = 1 + timeoutSecs / sleepTimeSecs
                else:   # over 4 minutes, sleep 8 times
                    numSleeps = 8
                    sleepTimeSecs = timeoutSecs / numSleeps
                print("sleepTimeSecs=%d numSleeps=%d" % ( sleepTimeSecs, numSleeps ))
                while numSleeps > 0:
                    stopped_servers = 0
                    # Test all servers stoped state
                    for serverID in servers:
                        serverName, nodeName, aServer=getClusterServerObj(serverID, cellName)
                        if (aServer != ""):
                            aState=AdminControl.getAttribute(aServer, 'state')
                            print "Server", serverName, "is in a", aState, "state"
                            pid   = AdminControl.getAttribute(aServer, 'pid')
                            print "Server", pid, "is ", pid
                        else:
                            aState="STOPPED"
                            stopped_servers = stopped_servers + 1
                    if count_servers == stopped_servers:
                        print('All servers in stopped state')
                        result = 0
                        break
                    if count_servers != stopped_servers:
                        result = 1
                    # Sleep
                    print("Sleeping %s seconds. numSleeps=%d" % ( sleepTimeSecs, numSleeps ))
                    time.sleep(sleepTimeSecs)
                    numSleeps = numSleeps - 1
                if result == 1:
                    sys.exit("Stopped not all servers")
            else:
                print('All servers in stopped state')
    print ('End step  STOP CLUSTER: %s' % was_app['clu_name'])